// Light mode

// Monochrome 
$backgroundColor: #ffffff;
$primaryColor: #000000;
$secondaryColor: #c2c2c2;
$tertiaryColor: #505050;
$fontColour: #000000;

// //Jake's 1
// $backgroundColor:#E4F9FF;
// $primaryColor:#0077B6;
// $secondaryColor:#4FCAFF;
// $tertiaryColor:#4FCAFF;