@import "../../assets/styles/abstracts/variables";
@import "../../assets/styles/main.scss";

.smHeader {
    height: 8.25vh;
    background-color: white;
    border-bottom: 10px solid $icyPurple;
}

.pageContainer {
    // width: 100%;

    .gridContainer{
        margin-top: 40px;
        grid-gap: 0.5rem;

        .card {
            // height: 100%;

            .imageWrapper {
                display: flex;
                position: relative;
                justify-content: center;
                background-color: #edebf8;
                border-radius: 10px;
                min-height: 25vh;

                h2{
                    color: $deepPurple;
                    position: absolute;
                    top: 7px;
                    left: 10px;
                    z-index: 1;
                    padding: 0;
                }

                img {
                    width: 50%;
                    border-radius: 12px;
                }
            }

            p {
                font-size: 13px;
                font-weight: bold;
                line-height: 1.6em;
                height:20px;
            }    
        }
    }
};