@import "../../assets/styles/abstracts/variables";
@import "../../assets/styles/main.scss";

.smHeader {
    background-color: $black;
    color: #FFF;
}

.pageContainer {
    padding-top: 20px;

    .catContainer{
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        //background-color: $colourTwo;
        background-color: white;
        border-radius: 20px;

        .card {
            height: 35%;
            width: fit-content;
            margin: auto;
            flex: 0 0 50%;
            padding: 15px;
            position: relative;
            // border radius on image?

            a{

                h2{
                    font-size: 14px;
                    text-align: center;
                    color: $fontColour;
                    position: absolute;
                    left: 25px;
                    top: 20px;
                    z-index: 1;
                    padding: 0;
                }

                img{ 
                    width:105%;
                    border-radius: 5%;
                }

                p {
                // color: $tertiaryColor;
                font-size: 13px;
                font-weight: bold;
                line-height: 1.6em;
                height:20px;
                }
            }
        }
    }
};