@import "../../assets/styles/abstracts/variables";
@import "../../assets/styles/main.scss";

.splash {
  margin-top: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center;
  align-content: center;
  background-color: blueviolet;
  img {
    position: absolute;
    left: 10%;
    height: inherit;
    width: 50%;
    z-index: 0;
  }
  button {
    position: absolute;
    right: 10%;
    width: 20%;
    height: 80%;
  }
}
.pageCont {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.sloganCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8%;
}
.slogan {
  color: #1bb9f1;
  font-family: Nunito;
  font-weight: 800;
  font-size: 25px;
}
.textUndePhoneCont {
  margin: 8%;
}
.textUnderPhone {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: 21px;
  color: $deepPurple;
}
.forDad {
  margin: 20px;
  font-size: 18px;
  color: #1bb9f1;
  font-weight: 600;
}

.bold {
  font-weight: 500;
}
.italics {
  font-weight: 300;
  font-style: italic;
}
.textFathers {
  width: 82%;
  text-align: center;
}
.secondaryBtn {
  margin: 40px;
  font-size: 16px;
  font-weight: bold;
  width: 50vw;
  padding: 16pt 16pt 16pt 16pt;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listTitle {
  font-size: 21px;
  font-family: IBM Plex, Nunito;
}

.svgTextLi {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    display: inline-block;
    height: inherit;
    margin: 10px 10px;
  }
}

p {
  color: $deepPurple;
  font-weight: 400;
}

h2 {
  color: $deepPurple;
  font-size: 21px;
}
//when styling more or less there, slack steve telling him I am ready for him and jdog to have a look
