@import url("https://fonts.googleapis.com/css2?family=Commissioner&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
h1, h2, h3, h4, h5, h6 {
  font-family: Commissioner;
}

* {
  margin: auto;
  box-sizing: border-box;
  background-color: #212b4e;
  font-family: Nunito;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Commissioner;
}

img {
  height: 20%;
  width: 45%;
  position: relative;
}

h1 {
  display: block;
  text-align: center;
}

p {
  font-size: 1.5rem;
  font-weight: 550;
  position: absolute;
  z-index: 1;
}

button {
  background-color: #212b4e;
  display: block;
  width: 80%;
  height: 50px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 550;
  border-radius: 5%;
  position: relative;
}

h1 {
  display: block;
  text-align: center;
}

p {
  font-size: 1.5rem;
  font-weight: 550;
  position: absolute;
}

i {
  font-size: 3rem;
  background-color: #f6d365;
}

ul {
  font-size: 1.5rem;
  font-weight: 550;
  position: absolute;
  background-color: #212b4e;
}

li {
  text-decoration: none;
  background-color: #554df0;
}