@import "../../assets/styles/main.scss";

.whatNotToDo{ 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.whatNotToDoUl{ 
    
    li{ 
        margin: 20px 0 20px 0;
    }
}

.tryThisUl {
    li{ 
        margin: 20px 0 20px 0;
    }
}

.circle{ 
    font-size: 0.5rem;
    margin-bottom: 0.5px;
}

.tantrumsNextTitle{ 
    margin-top: 30px;
}