@import "../../assets/styles/abstracts/variables";
@import "../../assets/styles/main.scss";

.lgHeader {
    background-color: $lightBlue; 
    overflow: hidden;
}

.pageContainer {

    .gridContainer {

        .card {
            display: flex;
            background-color: #DBF1F5;
            margin-top: 20px;
            max-height: 14vh;
            border-radius: 3px;
            //padding-bottom: 10px;

            .titleSubheaderContainer{
                
                display: flex;
                justify-content: center;
                position: relative;
                border-radius: 15px;
                height: 80%;
                width: 100%;
        
                h2{
                    position: absolute;
                    color: $black;
                    font-family: 'Nunito', sans-serif;
                    top: -8px;
                    left: 12px;
                }
    
                .cardSubHeader {
                    color: $black;
                    font-weight: 500;
                    padding: 10px;
                    font-size: 0.85rem;
                    line-height: 0.95rem;
    
                }
            }
            img {
                padding-top: 28px;
                width: 50%;
                justify-content: flex-end;
            }
            
        }
    }
}