@import "../../assets/styles/abstracts/variables";
@import "../../assets/styles/main.scss";

.lgHeader {
    background-color: $lightBlue; 
    overflow: hidden;
}

.pageContainer {

    .gridContainer {

        .card {
            display: flex;
            min-height: 40vh;

            .imageTitleContainer{
                display: flex;
                justify-content: center;
                position: relative;
                margin-top: 20px;
                background-color: #F2F2F2;
                border-radius: 10px;
                height: 70%;
                width: 100%;
        
                h2{
                    position: absolute;
                    color: $black;
                    font-family: 'Nunito', sans-serif;
                    top: 7px;
                    left: 10px;
                }
    
                img {
                    width: 50%;
                }
            }

            .cardSubHeader {
                color: $black;
                font-weight: 500;
                padding-top: 10px;
            }
        }
    }
}