@import "../../assets/styles/main.scss";

.artContainer {
  border-bottom: 1px solid darkslategrey;
  padding: 3% 0;
  .artGrid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 50px 50px;
    .artTitle {
    text-align: left;
    grid-column-start: 1;
    grid-row-start: 1;
    }
    .artReadTime {
        grid-column-start: 1;
        grid-row-start: 2;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
    }
    .artImage {
        grid-column-start: 2;
        grid-row-start: span 2;
        border-radius: 5%;
    }
  }
}






