@import "../../assets/styles/main.scss";

.splashPage{ 
    position: relative;
    height: 80vh;
    justify-content: center;
}


.splash {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
 
    img {
        margin-top: 30vh;
        width: 200px;
    }

    .dadviceBtn{ 
        background-color: $lightBlue;
        border: 2px solid $lightBlue;
        margin-top: 25vh;
        border-radius: 8px;
        width: 50vw;
        padding: 3%;
        color: white;
        font-weight: 500;
        font-size: 0.9rem;
        
    }
    p{ 
        font-size: 1.15rem;
        font-weight: 500;
        color: $navyBlue;
        margin-top: 2vh;
    } 
    .underButtonText{ 
        font-size: 0.7rem;
        span{ 
            font-weight: 600;
        }
    }


    
}