@import "../../assets/styles/main.scss";

.splashPage{ 
    position: relative;
    height: 80vh;
    justify-content: center;
}


.splash {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
 
    img {

        width: 200px;
    }

    button{ 
        width: 100vw;
        height: 100%;
    }
    p{ 
        font-size: 0.8rem;
        margin-top: 2vh;
    }


    
}