@import "../../assets/styles/abstracts/variables";
@import "../../assets/styles/main.scss";

.noNav {
  z-index: 101;
  background-color: $offWhite;
}

.splash {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  align-content: center;
  background-color: $offWhite;
  width: 90%;
  margin: auto;
  img {
    width: 166px;
  }
  .primaryBtn {
    height: 50px;
    width: 95px;
    margin: 0;
    font-size: 16px;
    color: $deepPurple;
    font-weight: bold;
  }
}
.pageCont {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.sloganCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 40px;
}

.slogan {
  color: #1bb9f1;
  font-family: Nunito;
  font-weight: 800;
  font-size: 25px;
  width: 70%;
  text-align: center;
}

.textUndePhoneCont {
  margin: 5%;
  margin-top: 10%;
}

.textUnderPhone {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: 21px;
  width: 90%;
  text-align: center;
  color: $deepPurple;
  margin: auto;
}
.forDad {
  margin: 5%;
  font-size: 18px;
  color: #1bb9f1;
  font-weight: 600;
}

.bold {
  font-weight: 500;
}
.italics {
  font-weight: 300;
  font-style: italic;
}
.textFathers {
  width: 82%;
  text-align: center;
  margin: 5%;
  font-size: 14px;
}
.secondaryBtn {
  margin: 25px;
  font-size: 16px;
  font-weight: bold;
  width: 50vw;
  padding: 16pt 16pt 16pt 16pt;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listTitle {
  font-size: 21px;
  font-family: IBM Plex, Nunito;
}

.svgTextLi {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    display: inline-block;
    height: inherit;
    margin: 10px 10px;
  }
}

p {
  color: $deepPurple;
  font-weight: 400;
}

h2 {
  color: $deepPurple;
  font-size: 21px;
}
.bottomTextCont {
  background-color: #fffcdc;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottomCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.bottomText {
  color: #394167;
  font-weight: 500;
  font-size: 18px;
  padding: 12px;
}


@media screen and (min-width: 768px) {
  .slogan {
    font-size: 30px;
    width: 100%;
  }

  .textUnderPhone {
    font-size: 23px;
    width: 70%;
  }

  .forDad {
    font-size: 20px;
  }

  .textFathers{
    font-size: 18px;
    width: 65%;
  }

  .secondaryBtn {
    width: 186px;
    height: 45px;
  }
  .svgTextLi {
    flex-direction: column-reverse;
  }
  ul{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .needsReversing{ 
    flex-direction: column;
    color: pink;
  }
}
