@import "../../assets/styles/main.scss";



.artReaderContainer {
  padding: 5vw 0;
  width: 80vw;
  h1 {
  font-family: IBM Plex, Nunito;
  justify-content: center;
  align-items: center;
}

p {
  font-family: IBM Plex, Nunito;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
}

