.bold {
    font-weight: bold;
}
.flexContainer{ 
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #979797;
    width: inherit;
}

.flexItem {
    width: 50%;
    margin: 5px;

    img {
        display: block;
        margin: auto;
        width: 90%;
    }
}
.nextTimeUl{ 
    
    li{ 
        margin: 20px 0 20px 0;
    }
}

.tantrumsNextTitle {
    margin-top: 15px;
}