@import "../../assets/styles/main.scss";


.pageContainer {
    align-items: center;
    height: 100vh;
    .header {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 15vh;
    
    }
    .inputContainer{
        justify-content: center;
        padding-bottom: 10vh;
    }
    .imageContainer{
        display: flex;
        justify-content: center;
       

        .girlImageContainer{
            border-radius: 5px;

            position: relative;
            padding: 5% 5% 10% 5%;
            background-color: rgba(75, 191, 232, 0.2);
            margin: 4vw 4vw 0vw 4vw;
        }
        .boyImageContainer{
            border-radius: 5px;

            position: relative;
            padding: 10% 5% 10% 5%;
            background-color: rgba(75, 191, 232, 0.2);
            margin: 4vw 4vw 0vw 4vw;
        }
        p{
            position: absolute;
            bottom: 0;
            margin-top: 5vh;
            margin-left: 6.5vw;
            padding-top: 5vh;
            padding-bottom: 0.5vh;

            font-size: 15px;
            color: $black;

        }
        
    }
    button{
        margin-top: 15vh;
        width: 50%;
        color: $offWhite;
    }
}



