@import "../../assets/styles/main.scss";

.actIdeasContainer {
  margin-top: 10vh;
  padding: 5%;
  font-family: Nunito;
  .btnContainer {
    display: flex;
    justify-content: space-between;
    
    .activeButton {
      font-size: 1rem;
      font-family: Nunito;
      padding: 2% 15%;
      color: white;
      background-color: #4BBFE8;
      border: none;
      outline: none;
      border-radius: 5px;
      box-shadow: 0px 2px 4px 1px darkgrey;
    }

    .inactiveButton {
      font-size: 1rem;
      font-family: Nunito;
      padding: 2% 15%;
      color: white;
      border: none;
      outline: none;
      background-color: #189FB6;
      border-radius: 5px;
      box-shadow: 0px 2px 4px 1px grey;
    }
  }  
  .filterTagsContainer {

    .filterTags {
      display: flex;
      list-style-type: none;
      white-space: nowrap;
      overflow: scroll;
      margin-top: 5px;

      li {
        display: inline-block;
        padding: 5px;
      }
    }
  }
 

}
