@import "../../assets/styles/main.scss";

.actIdeasContainer {
  margin-top: 10vh;
  padding: 5%;
  .btnContainer {
    display: flex;
    justify-content: space-between;
    
    .activeButton {
      font-size: 1rem;
      font-family: Nunito;
      padding: 2% 15% !important;
      color: white;
      background-color: #4BBFE8;
      border: none;
      outline: none;
      border-radius: 5px;
      box-shadow: 0px 2px 4px 1px grey;
    }

    .inactiveButton {
      font-size: 1rem;
      font-family: Nunito;
      padding: 2% 15% !important;
      color: white;
      border: none;
      outline: none;
      background-color: #189FB6;
      border-radius: 5px;
      box-shadow: 0px 2px 4px 1px grey;
    }



  }  
}
