@import "../../assets/styles/main.scss";



.pageContainer {
    align-items: center;
    height: 100vh;

    .header {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 15vh;
    
    }   
    
    .ageClicker {
        padding-top: 2rem;
        display: flex;
        justify-content: center;
        padding-bottom: 10vh;

        button {
            outline-color: #4BBFE8; 
            width: 3rem;
            height: 3rem;
            background-color: #A0EBE7;
            color: $black;
            font-size: 2rem;       
            border: 1px solid  #A0EBE7;
            line-height: 1rem;
        }
        .minusButton {              
            padding-bottom: 0.5rem;
        }

        .ageNumber {          
            font-size: 1.25rem;
            font-weight: 700;
            padding: 0.5rem 1rem 0 1rem;
        }

    }

    .primaryBtn {
        margin-top: 15vh;
    }


}


