.globalNav {
  display: flex;
  top: 0px;
}

.backButton {
  font-size: 1.6rem;
  color: grey;
  margin-right: 10vw;
}

.ellipses {
  font-size: 1.6rem;
  color: grey;
  margin-left: 35vw;
}

.pageTitle {
  font-size: 0.25rem;
}