@import "../../assets/styles/abstracts/variables";
@import "../../assets/styles/main.scss";

.navWrapper {
    width: 100%;
    position: absolute;
    background-color: transparent;
    top: 1.5%;

    .globalNav{ 
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
    }
    
    .backButton{ 
        font-size: 1.4rem;
        color: $deepPurple;
    }
    .search{
        font-size: 1.4rem;
        color: $deepPurple;
        // margin-right: 1vw;
    }
    .ellipses{ 
        font-size: 1.4rem;
        color: $deepPurple;
        margin-left: 5vw;
        // margin-left: 30vw;
    } 
    
    .pageTitle {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        color: black;
    } 
}

//add padding to navbar