@import "../../assets/styles/abstracts/variables";
@import "../../assets/styles/main.scss";

.globalNav{ 
    display: flex;
    // gap: 70vw;
    top: 0px;
}

.backButton{ 
    font-size: 1.6rem;
    color: grey;
    margin-right: 10vw;
}

.ellipses{ 
    font-size: 1.6rem;
    color: grey;
    margin-left: 35vw;
} 

.pageTitle {
    font-size: 0.5rem;
} 

//add padding to navbar