// Light mode

// 1. 
// $colourOne: #FFFFFF;
// $colourTwo: #588B8B;
// $colourThree: #FFD5C2;
// $colourFour: #F28F3b;
// $colourFive: #C8553D;

//2.
// $colourOne: #495867;
// $colourTwo: #577399;
// $colourThree: #bdd5ea;
// $colourFour: #f7f7ff;
// $colourFive: #fe5f55;

//3.
// $colourOne: #2d3142;
// $colourTwo: #4f5d75;
// $colourThree: #bfc0c0;
// $colourFour: #ffffff;
// $colourFive: #ef8354;

//4.
// $colourOne: #2d3142;
// $colourTwo: #4f5d75;
// $colourThree: #bfc0c0;
// $colourFour: #ffffff;
// $colourFive: #ef8354;


// Dark mode

//1.
$colourOne: #182039;
$colourTwo: #212b4e;
$colourThree: #212b4e;
$colourFour: #554df0;
$colourFive: #f6d365;
$colourSix: #3e64ff;

// 2. 
// $colourOne: #33313b;
// $colourTwo: #3c4f65;
// $colourThree: #834c69;
// $colourFour: #e6f5ff;

// 3. 
// $colourOne: #4c5f7a;
// $colourTwo: #393e6f;
// $colourThree: #3d2e4f;
// $colourFour: #321d2f;

//4.
// $colourOne: #03040A;
// $colourTwo: #0D22FF;
// $colourThree: #2E2E4C;
// $colourFour: #DBE3F0;
// $colourFive: #A0ADE5;
// $colourSix: #A18E63;
