@import "../../assets/styles/main.scss";

.btnContainer { 
    display: flex; 
    justify-content: space-evenly;
    width: inherit;
    margin-top: 10%;
    button{ 
        margin: 0 8% 0 8%;
    }
};
