@import "../../assets/styles/main.scss";

.btnContainer { 
    display: flex; 
    justify-content: space-evenly;
    width: inherit;
    margin-top: 10%;
    margin-bottom: 30px;
    button{ 
        margin: 0 8% 0 8%;
        color: white;
    }
};
