@import '../../../assets/styles/main.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


.thumbnailBox {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin: 3% 0;
  border-radius: 2%;
  box-shadow: 1px 2px 5px 2px grey;
  .videoTitle {
    display: flex;
    font-family: Nunito;
    justify-content: center;
    align-items: center;
  }
  .playerWrapper {
    position: relative;
    padding-top: 56.25%;
  .reactPlayer {
    position: absolute;
    top: 0;
    left: 0;
  }
  }
  .videoTags {
    display: flex;
    justify-content: space-between;
    margin: 5% 5%;
    font-family: Nunito;
  }
}

