
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.pageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
        padding-top: 10vh;
        h1 {
            font-size: 1.4rem;
            // margin-bottom: 10px;
        }
        img{
            margin: 3vh;
            border: 1px solid gray;
            border-radius: 50%;
            height: 130px;
            width: 130px;
            // margin-top: 3vh;
        }
    }
    .form{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        input {
            margin: 2.3vh 0px;
            padding-left: 15px;
            width: 100%;
            height: 7vh;
            border-radius: 5px;
            border: 1px solid gray;
            color: black;
            font-size: 1rem;
            &::placeholder {
                color: black;
            }
        }
        button{
            margin: 2vh 0px;
            padding-left: 5px;
            border-radius:5px;
            width: 100%;
            height: 7vh;
            background-color: transparent;
            border: 1px solid gray;
            font-weight: bold;
            font-size: 1rem;
        }
    }
  }
// }*{
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//     font-family: sans-serif;
// }
// .pageContainer{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     border-radius: 5px;
//     width: 80vw;
//     height: 100vh;
//     margin: 0 auto;
//     .header{
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         width: 100%;
//         flex-direction: column;
//         padding-top: 10vh;
//         h1 {
//             font-size: 1.4rem;
//             // margin-bottom: 10px;
//         }
//         img{
//             margin: 3vh;
//             border: 1px solid gray;
//             border-radius: 50%;
//             height: 130px;
//             width: 130px;
//             // margin-top: 3vh;
//         }
//     }
//     .form{
//         display: flex;
//         flex-direction: column;
//         width: 90%;
//         input {
//             margin: 2.3vh 0px;
//             padding-left: 15px;
//             width: 100%;
//             height: 7vh;
//             border-radius: 5px;
//             border: 1px solid gray;
//             color: black;
//             font-size: 1rem;
//             &::placeholder {
//                 color: black;
//             }
//         }
//         button{
//             margin: 2vh 0px;
//             padding-left: 5px;
//             border-radius:5px;
//             width: 100%;
//             height: 7vh;
//             background-color: transparent;
//             border: 1px solid gray;
//             font-weight: bold;
//             font-size: 1rem;
//         }
//     }
// }