/* =========================================================================================================
                                               COLOUR PALETTES
/* =======================================================================================================*/
/* =========================================================================================================
                                               TYPOGRAPHY
/* =======================================================================================================*/
/* =========================================================================================================
                                               COLOUR PALETTES
/* =======================================================================================================*/
/* =========================================================================================================
                                               TYPOGRAPHY
/* =======================================================================================================*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Nunito&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  background-color: #FFFDF8;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #042621;
}

/* =========================================================================================================
                                               COLOUR PALETTES
/* =======================================================================================================*/
/* =========================================================================================================
                                               TYPOGRAPHY
/* =======================================================================================================*/
/* Nunito 
    font-weights: 400 (regular), 700 (regular), 800 (extra bold)
*/
/* IBM Plex Sans 
    font-weights: 400 (regular), 500 (medium),  700 (regular)
*/
body {
  font-family: "IBM Plex Sans", sans-serif;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.1rem;
  font-weight: 700;
}

h3 {
  font-size: 1.1rem;
  font-weight: 500;
}

h4 {
  font-size: 1.2rem;
  font-weight: 400;
}

/* =========================================================================================================
                                               COLOUR PALETTES
/* =======================================================================================================*/
/* =========================================================================================================
                                               TYPOGRAPHY
/* =======================================================================================================*/
.primaryBtn,
.secondaryBtn {
  height: 36px;
  width: 141px;
  border-radius: 5px;
  border: none;
}

.primaryBtn {
  color: #394167;
  background-color: transparent;
  border: 1.5px solid #394167;
  outline: none;
}

.secondaryBtn {
  color: white;
  outline: none;
  background-color: #394167;
}

.circularImg {
  margin: 3vh;
  border: 1px solid gray;
  border-radius: 50%;
  height: 130px;
  width: 130px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
.formContainer .inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.formContainer .inputContainer input {
  border-radius: 5px;
  padding-left: 10px;
  width: 90%;
  height: 47px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: transparent;
  border: 1px solid #979797;
  outline: none;
}
.formContainer .inputContainer input::placeholder {
  transition: 0.2s;
}
.formContainer .inputContainer input:focus::placeholder {
  transform: translate(0px, -15px);
  font-size: 0.5rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-gap: 1rem;
  margin: 0 auto;
}

.lgHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #FFF;
  height: 20vh;
  width: 100%;
  padding: 0 15%;
  box-shadow: 0px 2px 2.62px rgba(0, 0, 0, 0.23);
}

.smHeader {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 10vh;
  width: 100%;
  padding: 0 15%;
  padding-bottom: 12px;
  box-shadow: 0px 2px 2.62px rgba(0, 0, 0, 0.23);
}
.smHeader h1 {
  font-size: 18px;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 90vw;
  margin: 0 auto;
  padding-bottom: 80px;
}

.formContainer {
  color: #042621;
  margin-top: 10vh;
  height: 40vh;
}
.formContainer h2 {
  color: #042621;
  font-weight: 700;
  text-align: center;
  font-size: 25px;
  margin-bottom: 5vh;
}
.formContainer div {
  padding: none;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  margin: 3vh;
}
.formContainer div h3 {
  margin: 1vh;
  width: 80%;
}
.formContainer div img {
  margin: 0;
  width: 25px;
}

.chickInfo {
  display: flex;
  flex-direction: row;
  border: none;
}
.chickInfo h3 {
  text-align: center;
}
.chickInfo div {
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 426px) {
  .formContainer {
    width: 65vw;
  }
}
@media only screen and (min-width: 720px) {
  .formContainer {
    width: 55vw;
  }
}
@media only screen and (min-width: 780px) {
  .formContainer {
    width: 500px;
  }
}